<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Seiya 数据分析系统{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.1.3.min.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Seiya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ url_for('job.index') }}" id="jobAnalysisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                拉勾网职位数据分析
          </a>
          <div class="dropdown-menu" aria-labelledby="jobAnalysisDropdown">
            <a class="dropdown-item" href="{{ url_for('job.count_top10') }}">职位数 Top10 城市</a>
            <a class="dropdown-item" href="{{ url_for('job.salary_top10') }}">薪资 Top10 城市</a>
            <a class="dropdown-item" href="{{ url_for('job.hot_tags') }}">热门职位标签</a>
            <a class="dropdown-item" href="{{ url_for('job.experience') }}">工作经验统计</a>
            <a class="dropdown-item" href="{{ url_for('job.education') }}">学历要求统计</a>
            <a class="dropdown-item" href="{{ url_for('job.same_education_different_cities_salary') }}">同等学历不同城市薪资对比</a>
          </div>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ url_for('house.index') }}" id="houseAnalysisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                链家网租房数据分析
          </a>
            <div class="dropdown-menu" aria-labelledby="houseAnalysisDropdown">
            <a class="dropdown-item" href="{{ url_for('house.count_top10') }}">热门租房小区 Top10</a>
            <a class="dropdown-item" href="{{ url_for('house.type') }}">户型分布</a>
            <a class="dropdown-item" href="{{ url_for('house.area') }}">面积分布</a>
            <a class="dropdown-item" href="{{ url_for('house.rent') }}">租金最贵小区</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
        
    {% block js %}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper-1.14.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='g2-3.2.7.min.js') }}"></script>
    {% endblock %}
  </body>
</html>

